/* Course Section Styles */
#courseSection{
    padding:1em;
    min-height: 100vh;
}
/* Course Heading Styles */
#courseHeading{
  font-size: 2em;
  padding-left:1em;
}
/* Course Slides Styles */
#courseList{
    display: flex;
    justify-content: space-between;
    gap:2em;
    margin-top: 2em;
}
/* Slides Styles */
.courses{
    background-color: rgba(19,110,97,0.2);
    flex-basis: 33.33%;
    border-radius: 0.75em;
    padding:5em;
    text-align: center;
}
/* Locked Slides Styles */
.coursesLocked{
    background-color: rgba(176, 176, 176, 0.3);
    flex-basis: 33.33%;
    border-radius: 0.75em;
    padding:5em;
    text-align: center;
    position:relative;
}
/* Course Content Styles */
.courseDay, .courseTitle{
    color:#2D7E73;
    margin-bottom: 2em;
    font-size: 1.25em;
    font-weight: 600;
}
.coursesLocked .courseDay, .coursesLocked .courseTitle{
    color: rgba(45, 126, 115, 0.5);
}
.coursesLocked .courseStartBtn{
    background-color: rgba(255, 99, 71, 0.5);
    color: rgba(255, 255, 255, 0.5);
}
.courseDay{
    text-transform: uppercase;
}
/* Button Styles */
.courseStartBtn{
    background-color: #FF6347;
    padding:1em;
    color:#FFFFFF;
    border: none;
    border-radius: 0.7em;
    font-size: 1em;
    font-weight: 500;
    width:50%;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.2);
}
.courseStartBtn:hover{
    transform: scale(1.1);
    background-color:#FFFFFF;
    color:#FF6347;
}
/* Lock Styles */
.fa-lock{
   position: absolute;
   top:50%;
   left:45%;
   color: rgba(255, 255, 255, 0.5);
   font-size: 3em;

}
